<div class="contact-me" id="contact-div">
	<div class="contact-box">
		<div class="contact-head">
			<h1>Bookings</h1>
		</div>
		<div class="contact-left">
			<a href="https://www.instagram.com/khaligraph_jones/"><i class="fa fa-instagram fa-md"></i>khaligraph_jones</a><br/>
			<a href="https://twitter.com/KHALIGRAPH"><i class="fa fa-twitter fa-md"></i>khaligraph</a><br/>
			<a href="https://wa.me/254717678794"><i class="fa fa-whatsapp fa-md"></i>whatsapp</a><br/>
		</div>
		<div class="contact-right">
			{% comment %} <a href=""><i class="fa fa-instagram fa-md"></i>Khaligraph Jones</a><br/> {% endcomment %}
			<a href=""><i class="fa fa-facebook-square fa-md"></i>Khaligraph</a><br/>
			{% comment %} <a href=""><i class="fa fa-twitter fa-md"></i>Khaligraph</a><br/> {% endcomment %}
		</div>
	</div>	
</div>